@-ms-view{
width: device-width;
}

/* -----------------Main--------------- */
.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}

body {
  background: url('/assets/symphony.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.clear {
    clear: both;
}

/* -----------------NAVI--------------- */

.navbar.navbar-inverse {
  background:url('/assets/footer_lodyas.png');
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  margin-bottom:0;
}

.navbar-inverse .navbar-brand {
  color: #E3E85A;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 600;
  letter-spacing: -0.3px;
}

/* -----------------Error--------------- */

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

/* -----------------MAPS--------------- */


#map-canvas {
  height: 300px;
}

/* -----------------Buttons--------------- */
.btn-primary {
  margin-left: 10px;
}

/* -----------------Carousel--------------- */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 100%;
    width: 100%;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 3.75em;
    font-weight:100;
    text-shadow: rgba(0,0,0,0.95) 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width:100%;
    position:absolute;
    left:0;
}

.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}